body {
    background-color: #000000;
    color: #ffffff;
    overflow: hidden;
}
.projects {
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #ffffff;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    pointer-events: all;
}
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
.buttons {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    pointer-events: none;
}
html, body{
    height: 100%;
    font-weight: 800;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    height: 100%;
    align-items: center;
    z-index: 1;
    position: relative;
}
svg {
    display: block;
    font: 9em sans-serif;
    width: 960px;
    height: 300px;
    margin: 0 auto;
}
.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 3px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 24s infinite linear;
}
.text-copy:nth-child(1){
    stroke: #4D163D;
    animation-delay: -1;
}
.text-copy:nth-child(2){
    stroke: #840037;
    animation-delay: -2s;
}
.text-copy:nth-child(3){
    stroke: #BD0034;
    animation-delay: -3s;
}
.text-copy:nth-child(4){
    stroke: #BD0034;
    animation-delay: -4s;
}
.text-copy:nth-child(5){
    stroke: #FDB731;
    animation-delay: -5s;
}
.text-copy:nth-child(6){
    stroke: #FFF;
    animation-delay: -6s;
}
.text-copy:nth-child(7){
    stroke: #FFF;
    animation-delay: -7s;
}
.text-copy:nth-child(8){
    stroke: #FFF;
    animation-delay: -8s;
}
.text-copy:nth-child(9){
    stroke: #FFF;
    animation-delay: -9s;
}
.text-copy:nth-child(10){
    stroke: #FFF;
    animation-delay: -10s;
}
.text-copy:nth-child(11){
    stroke: #FFF;
    animation-delay: -11s;
}
.text-copy:nth-child(12){
    stroke: #FFF;
    animation-delay: -12s;
}
@keyframes stroke-offset{
    100% {
       stroke-dashoffset: -35%;
   }
}
.title {
    position: relative;
    top: -5%;
    z-index: -1;
}
figure {
    pointer-events: all;
    height: 10em;
    margin: 2em;
    width: 10em;
    transform: perspective(500);
    transform-style: preserve-3d;
    transition: .5s;
    -webkit-transform: perspective(500);
    -webkit-transform-style: preserve-3d;
    -webkit-transition: .5s;
    background-color: rgba(0,0,0,0);
}
figure:hover {
    transform: perspective(500) rotateX(90deg) translateZ(4.2em) scale3d(.89,1,.835);
    -webkit-transform: perspective(500) rotateX(90deg) translateZ(4.2em) scale3d(.89,1,.835);
}
img {
    box-shadow: 0 20px 15px -10px var(--secondary);
    display: block;
    height: 98%;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out; 
}
figure:hover img {
    box-shadow: none;
    opacity: 0;
}
figcaption {
    background-color: rgba(0,0,0,0);
    color: #fff;
    padding: 1.5em;
    transform: rotateX(-90deg);
    transform-origin: 100% 0;
    -webkit-transform: rotateX(-90deg);
    -webkit-transform-origin: 100% 0;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    opacity: 0;
}
figure:hover figcaption {
    box-shadow: 0 20px 15px -10px hsla(0,0%,0%,.25);
    opacity: 1;
}
h3 {
    font-weight: bold;
}
.projImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
a {
    text-decoration: none;
    color: #fff;
}
p {
    font-weight: 100;
    color: grey;
}
.line {
    width:0;
    height: 1px;
    background-color: #fff;
    margin: auto;
    margin-top: 250px;
    -webkit-transition: 2s ease-in-out;
    transition: 2s ease-in-out;
}