@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-in {
  0% {
    opacity: 0%;
  }
  75% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fade-left {
  0% {
    transform: translateX(100%);
    opacity: 0%;
  }
  30% {
    transform: translateX(0%);
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(-100%);
    opacity: 0%;
  }
  30% {
    transform: translateX(0%);
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes title {
  0% {
    line-height: 0%;
    letter-spacing: 0.25em;
    opacity: 0;
  }
  25% {
    line-height: 0%;
    opacity: 0%;
  }
  80% {
    opacity: 100%;
  }
  100% {
    line-height: 200%;
    opacity: 100%;
  }
}

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
