@font-face {
    font-family: Inter-Black;
    src: url(fonts/Inter-Black.ttf);
}

:root {
    --white: #fff;
    --primary: #121212;
    --secondary: #1DB954;
}

html, body {
    overflow:hidden 
} 

.mainwrapper {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    cursor:default;
}

body {
    margin: 0;
    padding: 0;
    font-family: Inter-Black;
    background-color: var(--primary);
    color: var(--white);
}

.header-logo {
    width: calc(35px + 1.5vw);
    height: calc(35px + 1.5vw);
    position: absolute;
    top: 0;
    left: .5vw;
    margin-left: calc(10px + .1vw);
    margin-top:calc(13px + .1vw);
}

.header-rectangle {
    width: calc(100px + 5vw);
    height: 2.5vh;
    position: absolute;
    top: 0;
    left: 0;
    fill: var(--secondary);
}

.header-title {
    font: .5vw Inter-Black;
    font-size:calc(10px + .3vw);
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 3.5vw;
    margin: 1vw;
    margin-left: calc(50px + .1vw);
    margin-top:calc(2px + .5vw);
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subtitle {
    font: .5vw Inter-Black;
    font-size:calc(10px + .3vw);
    text-transform: uppercase;
    margin-bottom: 1vw;
    color:var(--secondary);
}

.title {
    font: 2vw Inter-Black;
    font-size:calc(25px + .3vw);
    text-transform: uppercase;
    margin-bottom: 1vw;
}

.button {
    box-sizing: border-box;
    display: inline-block;
    margin-top: 48px;
    font-family: spartan, sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 26px;
    text-align: center;
    vertical-align: middle;
    color: var(--primary);
    background-color: var(--secondary);
    box-shadow: 0 5px 5px 0 rgb(0 0 0 / 20%);
    cursor: pointer;
    user-select: none;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 0;
    border: 2px solid var(--secondary);
    transition:.5s;
    text-decoration: none;
    box-shadow: 0 5px 5px 0 rgb(0 0 0 / 20%);
}

.button:hover {
    background-color: var(--primary);
    color: var(--secondary);
    border-color: var(--secondary);
    transform:scale(1.05);
}

.spotifylogo {
    width: calc(20px + .2vw);
    height: calc(20px + .2vw);
    margin-right: .3vw;
    margin-bottom: calc(-5px - .1vw);
}

.home {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1vw;
    width: calc(25px + 1vw);
    height: calc(25px + 1vw);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: var(--secondary);
    transition: .5s;
    will-change: transform;
    border: calc(2px + .05vw) solid var(--primary);
}

.home:hover {
    transform: scale(1.1);
}

.wave {
    position: absolute;
    bottom: -10vh;
    left: 0;
    width: 2000px;
    height: 1000px;
    background-size: cover;
    background-position: bottom;
    z-index: -1;
}

.feather-home {
    width: calc(20px + .5vw);
    height: calc(20px + .5vw);
}

.card {
    background: linear-gradient(270deg, rgba(18, 18, 18, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
    width: calc(320px + 10vw);
    padding: 1rem;
    height: calc((320px + 10vw) / 2.8);
}

.bottom {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.2;
}

.top {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-image {
    width: calc(75px + 3vw);
    position: relative;
    top: 0;
    left: 0;
}

.card-title {
    font-size: calc(1rem + .2vw);
    font-weight: 600;
    color: var(--white);
    margin: 0;
    position: relative;
    bottom: 0;
    left: calc(-12px - .05vw);
    padding: calc(.5rem + .2vw);
}

.card-subtitle {
    font-size: calc(0.5rem + .1vw);
    font-weight: 400;
    margin: 0;
    margin-top: -5px;
    position: relative;
    bottom: 0;
    left: calc(-12px - .05vw);
    padding: calc(.5rem + .2vw);
    padding-top: 0;
    opacity: .6;
}

.card-text {
    font-size: calc(.6rem + .2vw);
    font-weight: 400;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: calc(110px + 2.5vw);
    top: calc(40% - 6vh);
    padding: 1rem;
    padding-top: 0;
    padding-right: 0;
    opacity: .75;
    line-height: 1.6;
}

.buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1rem;
    padding-bottom: .5rem;
    transform:scale(.8);
    width: 100%;
    display: flex;
    justify-content: flex-end;
    height: calc(32% - .9vh);
}

.buttons:hover {
    fill: var(--secondary);
}